body::before{
    display: block;
    content: '';
    height: 60px;
}

.details-section{
    background: linear-gradient(
        45deg,
        rgba(168, 7, 7, 0.9) 0%,
        rgba(223, 155, 10, 0.9) 100%
    ),url(images/bw-nahum.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 13%;
}

.my-img{
    height: 400px;
    width: 300px;
    border-radius: 8px;
}

dd{
   color: #000000; 
}

.connect{
    color: #000000;
    text-decoration: none;
}

.connect:hover{
    color: #ffffff;
    font-style: italic;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.my-links{
    font-size: 30px;
    color: #0d00c4;
    background: none;
    border: none;
}

.my-links:hover {
    transition: 0.3s ease-in-out;
    color: #ffffff;
}